<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <title>Country Sales</title>
    <style>
        tr {
            display : block;
            float : left;
        }
        th {
            display : block;
        }
        td {
            display : block;
        }

    </style>
</head>
<body>
    <a class="btn btn-info" href="{{ url_for('home') }}">Return to home page</a>
    <div class="container">
        <label for="select-date">Choose date (Year-Month) </label>
        <select id="data-data" name="Date">
            <option value="2010-12">2010-12</option>
            <option value="2011-01">2011-01</option>
            <option value="2011-02">2011-02</option>
            <option value="2011-03">2011-03</option>
            <option value="2011-04">2011-04</option>
            <option value="2011-05">2011-05</option>
            <option value="2011-06">2011-06</option>
            <option value="2011-07">2011-07</option>
            <option value="2011-08">2011-08</option>
            <option value="2011-09">2011-09</option>
            <option value="2011-10">2011-10</option>
            <option value="2011-11">2011-11</option>
            <option value="2011-12">2011-12</option>
        </select>
        <!--
        <div>
            <table id="tab-data" class="table table-bordered">
                {% for key, value in country_sales.items() %}
                    <tr>
                        <th class="info">{{ key }}</th>
                        {% for i in value %}
                            <td>{{ i }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
        //-->
    </div>
    <canvas id="country-monthly"></canvas>
    <script type="module">
        import { findArr, countryData, countryConfig } from "{{ url_for('static', filename='js/script.js') }}"

        const monthChart = document.querySelector("#country-monthly").getContext("2d");
        const dates = {{ country_sales.Dates | safe }};
        const country = {{ country_sales.Country | safe }};
        const sales = {{ country_sales.Sales | safe }};
        const opt = document.querySelector("#data-data");
        opt.addEventListener("change", function() {
            const selectedData = findArr(dates, country, sales, this.value);
            const country_data = countryData(selectedData.Country, selectedData.Sales)
            const chartConfig = countryConfig(country_data);
            let chart = new Chart(monthChart, chartConfig);
            chart.destroy();
            chart = new Chart(monthChart, chartConfig);
            chart.canvas.parentNode.style.height = "520px";
            chart.canvas.parentNode.style.width = "1080px";
        });

    </script>
</body>
</html>
