<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Country Sales</title>
    <script src="{{ url_for('static', filename='js/chart.min.js') }}" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</head>
<body>
    <div class="container">
            <div class="card border-info" style="background : #333333">
                <div class="card-header">
                    <h2 style="color: #F5F5F5; font-family:optima;">Total Sales (Monthly) :</h2>
                    <p style="color: #F5F5F5; font-family:optima;"><strong>{{ total_sales }}</strong></p>
                    <p id="monthly-sales" style="color: #F5F5F5; font-famiy:optima;"></p>
                    <h3 id="TotalSales" style="color:whitesmoke; font-family:optima;"></h3>
                    <select onChange="getSelectedValue();" class="form-select-sm btn btn-outline-info" id="change-date">
                        <datalist>
                            <option value="2010-12">2010-12</option>
                            <option value="2011-01">2011-01</option>
                            <option value="2011-02">2011-02</option>
                            <option value="2011-03">2011-03</option>
                            <option value="2011-04">2011-04</option>
                            <option value="2011-05">2011-05</option>
                            <option value="2011-06">2011-06</option>
                            <option value="2011-07">2011-07</option>
                            <option value="2011-08">2011-08</option>
                            <option value="2011-09">2011-09</option>
                            <option value="2011-10">2011-10</option>
                            <option value="2011-11">2011-11</option>
                            <option value="2011-12" selected="selected">2011-12</option>
                        </datalist>
                    </select>
                </div>
                <canvas id="country-monthly"></canvas>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        const getSelectedValue = () => {
            let e = document.querySelector("#change-date");
            let selVal = e.options[e.selectedIndex].value;
            return selVal
        }
    </script>
    <script type="module">
        import { getCountryData, countryConfig, randColorGenerator, getMaximumVal, findSales } from "{{ url_for('static', filename='js/script.js') }}"
        let monthChart = document.querySelector("#country-monthly").getContext("2d");
        const opt = document.querySelector("#opt")

        const query_date = {{ query_date | safe }};
        const query_country = {{ query_country | safe }};
        const query_sales = {{ query_sales | safe }};
        const max_sales = getMaximumVal(query_sales);

        const data = findSales("2011-12", query_date, query_country, query_sales)
        const selectedCountry = data[0]
        const selectedSales = data[1]

        const country_data = getCountryData(selectedCountry, selectedSales)
        const chartConfig = countryConfig(country_data);

        let country_chart = new Chart(monthChart, chartConfig);
        country_chart.canvas.parentNode.style.width = "1080px";
        country_chart.canvas.parentNode.style.height = "720px";

    </script>
</body>
</html>
