<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Customer</title>
</head>
<body>
    <canvas id="RFM" height="250" width="400"></canvas>
<script>
    const checkData = (x) => {
        if (x == null) {
            console.log("No data is found");
        }
        else {
            console.log("Data is found");
        }
    }
    const c_id = {{ rfm_val.CustomerID }};
    const r = {{ rfm_val.R }};
    const f = {{ rfm_val.F }};
    const m = {{ rfm_val.M }};
    checkData(c_id);
    checkData(r);
    checkData(f);
</script>
</body>
</html>
