<!DOCTYPE html>
<html lang="en">
<head>
    <title>Customer Segmentation (RFM)</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/chart.min.js') }}" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="module">
        const RFMClass = document.querySelector("#RFMClass").getContext("2d");
        const RFMScore = document.querySelector("#RFMScore").getContext("2d");

        import { getRFMScore, RFMScoreConfig, rfmClassData, rfmClassConfig } from  "{{ url_for('static', filename='js/script.js') }}"

        const classSegment = {{ class_segment | safe }};

        const rfm_score = {{ score_key | safe }};
        const rfmScoreVal = {{ score_val | safe }};

        let rfm_class = {{ class_key | safe }};
        rfm_class = rfm_class.map(Number);

        const rfmClassVal = {{ class_val | safe }};
        const data = getRFMScore(rfm_score, rfmScoreVal);
        const config = RFMScoreConfig(data);

        const rfm_class_data = rfmClassData(rfm_class, rfmClassVal);
        const rfm_class_config = rfmClassConfig(rfm_class_data);

        const rfmScoreChart = new Chart(RFMScore, config);
        const rfmClassChart = new Chart(RFMClass, rfm_class_config);

        RFMScore.canvas.parentNode.style.height = "520px";
        RFMScore.canvas.parentNode.style.width = "920px";

        rfmClassChart.canvas.parentNode.style.height = "520px";
        rfmClassChart.canvas.parentNode.style.width = "920px";
    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-m-2">
                <h1 class="text-white text-bold" style="font-family : optima;">Customer Segmentation</h1>
                <h2 class="text-white" style="font-family : optima">RFM Table</h2>
                <table class="table table-dark table-hover table-bordered border-info">
                    <thead>
                        <tr class="text-center text-white text-bold">
                            <th style="font-family : optima">Quantile</th>
                            <th style="font-family : optima">Recency</th>
                            <th style="font-family : optima">Frequency</th>
                            <th style="font-family : optima">Monetary</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center text-white">
                            <td>25 %</td>
                            <td>{{ R_Quant[0] }}</td>
                            <td>{{ F_Quant[0] }}</td>
                            <td>{{ M_Quant[0] }}</td>
                        </tr>
                        <tr class="text-center text-white">
                            <td>50 %</td>
                            <td>{{ R_Quant[1] }}</td>
                            <td>{{ F_Quant[1] }}</td>
                            <td>{{ M_Quant[1] }}</td>
                        </tr>
                        <tr class="text-center text-white">
                            <td>75 %</td>
                            <td>{{ R_Quant[2] }}</td>
                            <td>{{ F_Quant[2] }}</td>
                            <td>{{ M_Quant[2] }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="card" style="background : #333333">
                        <div class="card-body">
                            <div class="card-dark">
                                <canvas id="RFMScore"></canvas>
                            </div>
                </div>
                <div class="col-sm">
                            <div class="card-dark">
                                <canvas id="RFMClass"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
