<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
    <div class="container">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 hidden-m">
                <nav class="nav-item">
                    <br><h2 class="d-block text-white" style="font-family : optima">Retail Dashboard</h2><br>
                    <li class="d-block btn btn-info btn-m" disabled><a class="nav-link text-white" style="font-family : optima">Dashboard</a></li><br>
                    <li class="d-block btn btn-outline-info btn-m"><a style="font-family : optima" class="nav-link text-white" href="{{ url_for('sales') }}" target="_blank">Sales</a></li><br>
                    <li class="d-block btn btn-outline-info btn-m"><a style="font-family : optima" class="nav-link text-white" href="{{ url_for('customer') }}" target="_blank">Customer</a></li><br>
                    <li class="d-block btn btn-outline-info btn-m"><a style="font-family : optima" class="nav-link text-white" href="{{ url_for('country') }}" target="_blank">Country</a></li><br>
                    <li class="d-block btn btn-outline-info btn-m"><a style="font-family : optima" class="nav-link text-white" href="{{ url_for('product') }}" target="_blank">Product</a></li>
                    <br>
                </nav>
            </div>
        <div class="col-sm-9">
            <br>
            <div class="border border-info text-white">
                <div class="card-body mb-3">
                    <h4>Dashboard</h4>
                    <p>test</p>
                </div>
            </div>
        <div class="row">
            <div class="col-sm-3">
            <br>
                <div class="border border-info text-white">
                    <div class="card-body mb-3">
                        <h4>Total Sales</h4>
                        <p>{{ sales }}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
            <br>
                <div class="border border-info text-white">
                    <div class="card-body mb-3">
                        <h4>Country</h4>
                        <p></p>
                    </div>
                </div>
        </div>
        <div class="col-sm-3">
            <br>
          <div class="border border-info text-white">
            <div class="card-body mb-3">
                <h4>Product</h4>
                <p></p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
            <br>
          <div class="border border-info text-white">
            <div class="card-body mb-3">
                <h4>X</h4>
                <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
