<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Sales</title>
    <link rel ="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/chart.min.js') }}" refrrerpolicy="no-referrer"></script>
    <script type="module">
        import { getSalesData, getSalesConfig } from "{{ url_for('static', filename='js/script.js') }}"
        const updateBtn = document.querySelector("#update")
        const dailyChart = document.querySelector("#DailySales").getContext("2d");

        const total = {{ total | safe }};
        const member = {{ member | safe }};
        const non_member = {{ non_member| safe }};

        const data = getSalesData(total, member, non_member);
        const config = getSalesConfig(data);
        const salesChart = new Chart(
            dailyChart,
            config
        );
        updateBtn.addEventListener("click", () => {
            if (updateBtn.innerHTML == "Normal") {
                salesChart.options.plugins.title.text = "Daily Sales (Log)"
                salesChart.options.scales.y.type = "logarithmic"
                salesChart.update();
                updateBtn.innerHTML = "Logarithmic"
            }
            else if (updateBtn.innerHTML == "Logarithmic") {
                salesChart.options.plugins.title.text = "Daily Sales"
                salesChart.options.scales.y.type = "linear"
                salesChart.update();
                updateBtn.innerHTML = "Normal"
            }
        })
        console.log(salesChart.options.scales.yAxis)
        salesChart.canvas.parentNode.style.width = "1380px";
        salesChart.canvas.parentNode.style.height = "720px";
    </script>
</head>
<body style="background : #333333">
    <div class="container">
        <button class="btn btn-outline-info btn-dark" type="button" id="update">Normal</button>
        <div>
            <canvas id="DailySales"></canvas>
        </div>
    </div>
</body>
</html>