<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/chart.min.js') }}" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="module">
        import { getSalesData, getSalesConfig } from "{{ url_for('static', filename='js/script.js') }}"
        const dailyChart = document.querySelector("#DailySales").getContext("2d");

        const total = {{ total | safe }};
        const member = {{ member | safe }};
        const non_member = {{ non_member| safe }};

        const data = getSalesData(total, member, non_member);
        const config = getSalesConfig(data);
        const SalesChart = new Chart(
            dailyChart,
            config
        );
        SalesChart.canvas.parentNode.style.width = "1380px";
        SalesChart.canvas.parentNode.style.height = "720px";
    </script>
    <title>Sales</title>
</head>
<body style="background : #333333">
    <a href = "{{ url_for('home') }}" class="btn btn-outline-info text-white" style="font-family : optima">Return to home page</a>
    <div class="text-white">
        <p id="date"></p>
        <p id="sales"></p>
    </div>
    <div>
        <canvas id="DailySales"></canvas>
    </div>
</body>
</html>
